@import '_robby';

/* navcon style */

.navcon {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    &:hover {
        transition: all .5s;
        opacity: .9;
    }
    .nav-line {
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 4px;
        background-color: #fff;
        /* navcon for header */
        &:first-child {
            top: 0px;
        }
        &:nth-child(2) {
            top: 10px;
        }
        &:nth-child(3) {
            top: 20px;
        }
    }
}


/* 修改 bootstrap alert 可搭配 .flex-middle */

#alertWindow {
    z-index: 10000;
    position: fixed;
    top: -40px;
    opacity: 0;
}


/* 垂直置中 */

.flex-middle {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}


/* Loading */

.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid $green;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1.6s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* 圖形 */

.icon-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 10px 15px 10px;
    border-color: transparent transparent $dark transparent;
    &.icon-triangle-right {
        border-width: 10px 0px 10px 15px;
        border-color: transparent transparent transparent $dark;
        &:hover {
            border-color: transparent transparent transparent $dark-hv;
        }
    }
    &.icon-triangle-left {
        border-width: 10px 15px 10px 0px;
        border-color: transparent $dark transparent transparent;
        &:hover {
            border-color: transparent $dark-hv transparent transparent;
        }
    }
    &.icon-triangle-bottom {
        border-width: 15px 10px 0px 10px;
        border-color: $dark transparent transparent transparent;
        &:hover {
            border-color: $dark-hv transparent transparent transparent;
        }
    }
}