@import '_robby';
@import '_component';

/* Toggle Styles */

#wrapper {
    display: block;
    position: relative;
    padding-left: 0;
    @include transition(all .5s ease);
    &.toggled {
        padding-left: 250px;
        #sidebar-wrapper {
            width: 250px;
        }
        #page-content-wrapper {
            position: absolute;
            margin-right: -250px;
        }
    }
    /* fix content width */
    @include mobile-min {
        padding-left: 0;
        &.toggled {
            padding-left: 250px;
            #page-content-wrapper {
                position: relative;
                margin-right: 0;
            }
            #sidebar-wrapper {
                width: 250px;
            }
        }
    }
    #page-content-wrapper {
        width: 100%;
        position: absolute;
        @include mobile-min {
            position: relative;
        }
        .header {
            z-index: 500;
            position: fixed;
            overflow: hidden;
            padding: 15px 20px 20px;
            width: 100%;
            height: 80px;
            background: $green;
            border: none;
            @include transition(all .5s ease);
            &.header-toggled {
                width: calc(100% - 250px);
            }
            /* navcon for left menu */
            .navcon {
                position: absolute;
                margin-right: 40px;
                margin-top: 10px;
                @include mobile {
                    margin-right: 20px;
                }
            }
            .header-title {
                position: absolute;
                left: 70px;
                height: 40px;
                @include transition(all .5s ease);
                a {
                    text-decoration: none;
                    img {
                        float: left;
                        margin-top: 5px;
                    }
                    .logo {
                        margin-left: 160px;
                        display: block;
                        height: 40px;
                        color: #fff;
                        font-size: 24px;
                        font-weight: bold;
                        line-height: 40px;
                        text-decoration: none;
                        @include mobile {
                            color: transparent;
                        }
                    }
                }
            }
            /*
            .header-login {
                position: absolute;
                right: 40px;
                top: 15px;
                button {
                    margin-left: 5px;
                    @include mobile {
                        display: none;
                    }
                }
            }*/
            .header-search {
                @include mobile {
                    display: none;
                }
                .sr-input {
                    border: medium none;
                    border-radius: 4px 0 0 4px;
                    box-shadow: none;
                    color: #8a8a8a;
                    float: left;
                    height: 40px;
                    padding: 0 10px;
                    width: 100px;
                    @include transition(all .2s ease);
                    @include tablet {
                        width: 100px;
                        &:focus,
                        &:active {
                            @include transition(all .2s ease);
                            width: 100px;
                        }
                    }
                    &:focus,
                    &:active {
                        @include transition(all .2s ease);
                        width: 200px;
                    }
                }
                .sr-btn {
                    background: none repeat scroll 0 0 #00a6b2;
                    border: medium none;
                    border-radius: 0 4px 4px 0;
                    color: #fff;
                    height: 40px;
                    padding: 0 20px;
                }
            }
        }
    }
    #sidebar-wrapper {
        z-index: 500;
        position: fixed;
        left: 250px;
        width: 0;
        height: 100%;
        margin-left: -250px;
        overflow-x: hidden;
        background: $gray;
        @include transition(all .5s ease);
        @include mobile-min {
            width: 0;
        }
        /* Profile */
        .user-head {
            position: relative;
            overflow: hidden;
            padding: 8px 0 15px 15px;
            max-height: 80px;
            color: #fff;
            background: none repeat scroll 0 0 #00a8b3;
            border-radius: 4px 0 0;
            .inbox-avatar {
                float: left;
                width: 65px;
                img {
                    border-radius: 4px;
                    background: #00A8B3;
                }
            }
            .user-info {
                display: block;
                margin: 10px 0 0 10px;
                width: 100%;
                span {
                    display: inline-block;
                    padding-left: 10px;
                    &.user-name {
                        font-size: 18px;
                        margin-bottom: 2px;
                    }
                    &.user-email {
                        font-size: 12px;
                        color: #87e2e7;
                        text-decoration: none;
                    }
                }
            }
        }
        /* Sidebar Styles */
        .sidebar-nav {
            position: absolute;
            top: 120px;
            width: 250px;
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                text-indent: 10px;
                line-height: 40px;
            }
            a {
                display: block;
                padding: 4px 8px;
                margin: 0;
                text-decoration: none;
                color: #6a6a6a;
                background: $gray;
                &:hover {
                    text-decoration: none;
                    background: none repeat scroll 0 0 $gray-hv;
                }
                &:active,
                &:focus,
                &.selected {
                    text-decoration: none;
                    background: $gray-ac;
                }
                i {
                    display: inline-block;
                    width: 40px;
                    font-size: 16px;
                }
            }
        }
    }
}


/* ***************************************** */


/* container */


/* login modal */

.loginmodal-container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    h1 {
        text-align: center;
        font-size: 1.8em;
    }
    input[type=button] {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        position: relative;
    }
    input[type=text],
    input[type=password] {
        height: 44px;
        font-size: 16px;
        width: 100%;
        margin-bottom: 10px;
        -webkit-appearance: none;
        background: #fff;
        border: 1px solid #d9d9d9;
        border-top: 1px solid #c0c0c0;
        /* border-radius: 2px; */
        padding: 0 8px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    input[type=text]:hover,
    input[type=password]:hover {
        border: 1px solid #b9b9b9;
        border-top: 1px solid #a0a0a0;
        -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    }
    .loginmodal {
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        height: 36px;
        padding: 0 8px;
        /* border-radius: 3px; */
        /* -webkit-user-select: none;
  user-select: none; */
    }
    .loginmodal-submit {
        border: 0px;
        color: #fff;
        text-shadow: 0 1px rgba(0, 0, 0, 0.1);
        padding: 17px 0px;
        font-size: 20px;
        &:hover {
            border: 0px;
            text-shadow: 0 1px rgba(0, 0, 0, 0.3);
        }
    }
    a {
        text-decoration: none;
        color: #666;
        font-weight: 400;
        text-align: center;
        display: inline-block;
        opacity: 0.6;
        @include transition(opacity .5s ease);
        &:hover {
            color: #444;
        }
    }
    .login-help {
        font-size: 18px;
    }
}


/* footer */

#footer {
    margin-top: 100px;
    padding-top: 40px;
    border-top: 1.5px solid #DADADA;
    hr {
        border: none;
        height: 2px;
        /* Set the hr color */
        color: #DADADA;
        /* old IE */
        background-color: #DADADA;
        /* Modern Browsers */
    }
    .bg-circle {
        @include transition(all .2s);
    }
    .row {
        &:last-child {
            padding-bottom: 10px;
        }
        p {
            color: #666;
        }
        @include mobile {
            text-align: center;
        }
    }
}

