#guide{padding-top:100px}#guide .row{padding:0 20px 10px}@media (max-width: 768px){#guide .row{text-align:center}}#guide .row .col h1{padding:0;margin:0;font-size:26px}#guide .row .col p{letter-spacing:1px;font-size:18px;margin-top:15px}
