.account {
  margin: 10px 20px;
  width: 100%;
  height: 100%; }

.account-group {
  float: left;
  width: 100%;
  text-align: left; }
  .account-group h3 {
    color: #555; }
  .account-group .tableaccount {
    margin: 0;
    border-collapse: collapse; }
    .account-group .tableaccount th {
      color: #666; }
    .account-group .tableaccount:last-child td {
      text-align: center; }
      .account-group .tableaccount:last-child td button {
        margin: 10px; }
    .account-group .tableaccount #txtUserId {
      margin: 0 20px;
      color: #555;
      font-size: 18px; }
