#map-group .row button,
#map-group .row input {
    margin: 0 4px;
}

.map {
    width: 100%;
    height: calc(100vh - 150px);
}

#txtMapValue {
    font-size: 14px;
}

#dialogMarker {
    padding: 5px 15px;
}

.tbAdd {
    width: 100%;
    margin-top: 5px;
    border-collapse: collapse;
}

.tbAdd tr {
    border-top: 1px solid #EEEEEE;
}

.tbAdd th {
    text-align: left;
    line-height: 25px;
    padding: 12px 0;
}

#tbMarkerList {
    width: 100%;
    margin-top: 5px;
    border-collapse: collapse;
}

#tbMarkerList tr {
    text-align: center;
    border-bottom: 1px solid #CCC;
}

#tbMarkerList tr:nth-child(n+2):hover {
    background: #DDD;
}

#tbMarkerList tr td {
    height: 32px;
    color: #444;
}

#tbMarkerList tr td:nth-child(2),
#tbMarkerList tr td:nth-child(3) {
    text-align: left;
}

#tbMarkerList tr td .fa {
    margin: 0 2px;
}

#tbMarkerList tr td .fa:hover {
    transform: scale(1.1);
    opacity: .9;
}

#tbMarkerList tr th:nth-child(4) {
    width: 15%;
    text-align: center;
}

#tbPolygonList {
    width: 100%;
    margin-top: 5px;
    border-collapse: collapse;
}

#tbPolygonList tr {
    text-align: center;
    border-bottom: 1px solid #CCC;
}

#tbPolygonList tr:nth-child(n+2):hover {
    background: #DDD;
}

#tbPolygonList tr td {
    height: 32px;
    color: #444;
}

#tbPolygonList tr td .fa {
    margin: 0 2px;
}

#tbPolygonList tr td .fa:hover {
    transform: scale(1.1);
    opacity: .9;
}

#tbPolygonList tr th:nth-child(3) {
    width: 20%;
    text-align: center;
}

#tbMarkerFavoriteList {
    width: 100%;
    margin-top: 5px;
    border-collapse: collapse;
}

#tbMarkerFavoriteList tr {
    text-align: center;
    border-bottom: 1px solid #CCC;
}

#tbMarkerFavoriteList tr:nth-child(n+2):hover {
    background: #DDD;
}

#tbMarkerFavoriteList tr:nth-child(n+2) td {
    height: 32px;
    color: #444;
}

#tbMarkerFavoriteList tr:nth-child(n+2) td:nth-child(2),
#tbMarkerFavoriteList tr:nth-child(n+2) td:nth-child(3) {
    text-align: left;
}

#tbMarkerFavoriteList tr:nth-child(n+2) td .fa {
    margin: 0 2px;
}

#tbMarkerFavoriteList tr:nth-child(n+2) td .fa:hover {
    transform: scale(1.1);
    opacity: .9;
}

#tbMarkerFavoriteList tr:nth-child(n+2) th:nth-child(4) {
    width: 15%;
    text-align: center;
}

.SearchGroup {
    margin: 10px 0;
}

.SearchGroup .ddl {
    width: 100px;
}

.SearchGroup .btn-search {
    height: 28px;
    margin-left: 5px;
    padding: 3px 0;
    font-size: 14px;
}

.SearchGroup .btn-add {
    height: 28px;
    margin-right: 5px;
    padding: 3px 0;
    font-size: 14px;
    float: right;
}

#ulPolygon {
    margin: 4px;
    padding: 4px 20px;
    display: table;
    list-style-type: decimal;
}

#ulPolygon li {
    padding: 4px 0;
    margin: 4px 0;
    border-bottom: 1px solid #DDD;
}

.no_checkbox>i.jstree-checkbox {
    display: none;
}

#jstree_demo_div>ul>li>a>i:first-child {
    display: none;
}


/* winpop */

.winPop {
    width: 225px;
    height: 28px;
    position: fixed;
    margin: 0;
    padding: 4px 12px;
    left: 40%;
    top: -40px;
    background: #3D454D;
    opacity: 0;
}

.winPop .winPopIcon {
    float: left;
    color: #DA4E42;
}

.winPop .winPopMsg {
    float: left;
    color: #FFF;
    margin-left: 10px;
}

.winPop .winPopClose .winPopBtn {
    height: 20px;
    width: 20px;
    float: left;
    border: 2px solid #FFF;
    border-radius: 100%;
    margin-left: 14px;
    margin-top: 2px;
    position: relative;
}

.winPop .winPopClose .winPopBtn i {
    position: absolute;
    left: 3.5px;
    top: 2px;
    color: #FFF;
    transition: .15s;
}

.winPop .winPopClose .winPopBtn i:hover {
    transform: rotate(30deg);
}