.home-box 
    float: left
    width: calc(100% / 3)
    text-align: center
    position: relative

    img 
        margin: 15px
        cursor: pointer
        width: 80%
        opacity: .8

.home-text 
    position: absolute
    top: 0
    left: 0
    color: #666
    padding-top: 30%
    font-size: 30px
    font-weight: 800
    transition: all .2s
    width: 100%
    height: 30%
    opacity: 1
    background: rgba(255, 255, 255, .5)
    &:hover 
        width: 90%
        opacity: 0
        background: rgba(255, 255, 255, .0)
