/*!
 * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
    font-family: 'Noto Sans TC', sans-serif;
}

body {
    overflow-x: hidden;
}


/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-x: hidden;
    background: #3D454D;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}


/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 65px;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 10px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    padding: 4px 8px;
    margin: 0;
    text-decoration: none;
    color: #B1B3B6;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    background: #383F45;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li a.selected {
    text-decoration: none;
    background: #383F45;
}

.sidebar-nav li a i {
    display: inline-block;
    width: 40px;
    font-size: 16px;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }
    #wrapper.toggled {
        padding-left: 250px;
    }
    #sidebar-wrapper {
        width: 0;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }
    #page-content-wrapper {
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}


/* navcon style */

.navcon {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.navcon:hover {
    transition: all .5s;
    opacity: .6;
}

.navcon .nav-line {
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #333333;
}

.navcon .nav-line:first-child {
    top: 0px;
}

.navcon .nav-line:nth-child(2) {
    top: 10px;
}

.navcon .nav-line:nth-child(3) {
    top: 20px;
}


/* navcon for left menu */

#sidebar-wrapper .navcon {
    margin: 20px 0 0 20px;
}

#sidebar-wrapper .navcon .nav-line {
    background: #ccc;
}


/* navcon for header */

.header .navcon {
    float: left;
    margin-right: 40px;
    margin-top: 5px;
}

.header .navcon .nav-line {
    background: #666;
}


/* ***************************************** */


/* container */

.header {
    margin-bottom: 30px;
    padding: 15px 20px 20px;
    height: 65px;
    background: #FAFAFA;
    border-bottom: 1.5px solid #DADADA;
}

.header .header-title .logo {
    display: inline-block;
    width: 270px;
    color: #666;
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    text-decoration: none;
    background: url('http://cdn.robby570.tw/img/Home-icon.png') no-repeat;
    background-size: 140px 40px;
}

.header .logo::before {
    content: '';
    padding-right: 140px;
}

@media(max-width:768px) {
    .header .header-title .logo {
        width: 170px;
        color: transparent;
        margin-left: 30px;
    }
}

.header .navr {
    float: right;
}

.header .header-login {
    position: absolute;
    right: 40px;
    top: 15px;
}

.header .header-login button {
    margin-left: 5px;
}

@media(max-width:768px) {
    .header .header-login button {
        display: none;
    }
}


/* login modal */

.loginmodal-container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.loginmodal-container h1 {
    text-align: center;
    font-size: 1.8em;
}

.loginmodal-container input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.loginmodal-container input[type=text],
input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover,
input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.loginmodal {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    /* border-radius: 3px; */
    /* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
    /* border: 1px solid #3079ed; */
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    padding: 17px 0px;
    font-size: 20px;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
    /* border: 1px solid #2f5bb7; */
    border: 0px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.loginmodal-container a:hover {
    color: #444;
}

.login-help {
    font-size: 18px;
}


/* footer */

#footer {
    padding-top: 40px;
    background: #EDEDED;
    border-top: 1.5px solid #DADADA;
}

#footer hr {
    border: none;
    height: 2px;
    /* Set the hr color */
    color: #DADADA;
    /* old IE */
    background-color: #DADADA;
    /* Modern Browsers */
}

#footer .bg-circle {
    transition: all .2s;
}

#footer .row:last-child {
    padding-bottom: 10px;
}

#footer .row p {
    color: #666;
}

@media(max-width:768px) {
    #footer .row {
        text-align: center;
    }
}