<div class="slide">
    <ul id="slide-art" class="slide-nav">
        <li><a class="selected" href="#" data-id="photo-slider-plant">園藝</a></li>
        <li><a href="#" data-id="photo-slider-sculpt">雕塑</a></li>
        <li><a href="#" data-id="photo-slider-stone">石雕</a></li>
    </ul>
</div>
<div class="clear"></div>