<form action="#" method="post">
<div class="account">
    <div class="account-group">
        <h3>會員中心</h3>
        <table class="tableaccount">
            <tr>
                <th>帳號</th>
                <td><label id="txtUserId"></label></td>
            </tr>
            <tr>
                <th>密碼</th>
                <td><input id="txtPwd" type="password" class="text text-lg"></td>
            </tr>
            <tr>
                <th>姓名</th>
                <td><input id="txtUserName" type="text" class="text text-lg"></td>
            </tr>
            <tr>
                <th>信箱</th>
                <td><input id="txtEmail" type="text" class="text text-lg"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="button" id="btnAccountSubmit" class="btn btn-lg btn-green">更新</button>
                </td>
            </tr>
        </table>
    </div>
</div>
</form>