<div id="photo-admin">

    <div id="photo-slider-build1" class="photo-slider">
        <div class="photo-box">
            <img src="http://cdn.robby570.tw/img/admin/教務處.jpg" data-img="img/admin/教務處.jpg" data-title="教務處" alt="">
            <img src="http://cdn.robby570.tw/img/admin/通識教育中心.jpg" data-img="img/admin/通識教育中心.jpg" data-title="通識教育中心" alt="">
            <img src="http://cdn.robby570.tw/img/admin/學生事務組.jpg" data-img="img/admin/學生事務組.jpg" data-title="學生事務組" alt="">
            <img src="http://cdn.robby570.tw/img/admin/OK超商.jpg" data-img="img/admin/OK超商.jpg" data-title="OK超商" alt="">
            <img src="http://cdn.robby570.tw/img/admin/圖書館閱覽室.jpg" data-img="img/admin/圖書館閱覽室.jpg" data-title="圖書館閱覽室" alt="">
        </div>
    </div>

    <div id="photo-slider-build2" class="photo-slider">
        <div class="photo-box">
            <img src="http://cdn.robby570.tw/img/admin/校長室.jpg" data-img="img/admin/校長室.jpg" data-title="校長室" alt="">
            <img src="http://cdn.robby570.tw/img/admin/副校長室.jpg" data-img="img/admin/副校長室.jpg" data-title="副校長室" alt="">
            <img src="http://cdn.robby570.tw/img/admin/主計室.jpg" data-img="img/admin/主計室.jpg" data-title="主計室" alt="">
            <img src="http://cdn.robby570.tw/img/admin/秘書室.jpg" data-img="img/admin/秘書室.jpg" data-title="秘書室" alt="">
        </div>
    </div>

    <div id="photo-slider-build3" class="photo-slider">
        <div class="photo-box">
            <img src="http://cdn.robby570.tw/img/admin/圖書館.jpg" data-img="img/admin/校長室.jpg" data-title="圖書館" alt="">
        </div>
    </div>

</div>


<!-- Enter Photo -->
<div class="photo-form">
    <div class="photo-title">
        <label class="photo-main-title">校長室</label>
        <div class="photo-control">X</div>
    </div>
    <div class="photo-main">
        <img class="photo-main-img" src="http://cdn.robby570.tw/img/admin/校長室.jpg" alt="" />
    </div>
</div>